<% if @albums != [] %>
	<% @albums.each do |album| %>
		<div class="row">
				<div class="albname col-md-2"><p class="a_title"><%= album.title.upcase %></p></div>
				<div class="col-md-8" id="middle_col">
					<a href="<%= album_url(album) %>">
						<% if album.images.count > 5 %>
							<% album.images[4..-1].reverse.each do |image| %>
								<%= image_tag image.ig_url, :class => "thumb" %>
							<% end %>
						<% else %>
							<% album.images.reverse.each do |image| %>
							<%= image_tag image.ig_url, :class => "thumb" %>
							<% end %>
						<% end %>
						
					</a>
				</div>
				<div class="col-md-2"><%= link_to '', album, method: :delete, data: { confirm: 'Are you sure?'}, :class => "glyphicon glyphicon-trash trash" %></div>
		</div>
	<% end %>
<% end %>
