<div class="album_title_container"><h1><span class="album_title"><%= @album.title.upcase %></span> <%= link_to "", edit_album_path(@album), :class => "glyphicon glyphicon-pencil" %></h1></div>

<% if @album.images != [] %>
	<div class="scrollbar">
	    <div class="handle"></div>
	</div>
	<div class="frame">
		<ul class="slidee">
			<% @album.images.each do |image| %>
				<li>
					<div class="image_info">
						<div class="image_header">
							<%= image_tag image.ig_user_avatar, id: "avatar" %>
							<cite><a href="http://instagram.com/<%= image.ig_user %>" target="_blank"><%= image.ig_user %></a></cite>
							<%= distance_of_time_in_words(Time.now, Time.at(image.ig_created_time.to_i),include_seconds: true) %> ago<br>
							<% if image.ig_video_url != "" %>
								<a href="<%= image.ig_video_url %>" target="_blank">Play Video</a>
							<% end %>
							<div class="remove_from_album selected" data-image-id="<%= image.id %>" data-album-id="<%= @album.id %>"></div>
						</div>
						<div class="image_footer">
							<div class="image_footer">
								<div class="ig_caption"><%= truncate(image.ig_caption, length: 100) if image.ig_caption %></div>
								<div>
									<a class="fs" id="fullscreen"><span class="glyphicon glyphicon-fullscreen"></span></a>
								</div>
							</div>
						</div>
					</div>
					<%= image_tag image.ig_url %>
				</li>
			<% end %>
		</ul>
	</div>
<% end %>


<script>
	var next_url;
</script>