<a href="#openModal">Open Modal</a>

<div id="openModal" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<%= link_to "Login with Instagram", controller: "sessions", action: "connect", class: "login" %>
	</div>
</div>

<nav class="nav">
	<!-- Instagram user login/logout -->
	<% if session[:access_token] %>
		<div class="avatar"><%= image_tag current_user.avatar, id: "avatar" %>
		<%= current_user.username %>
		<div class="signin"><%= link_to "LOG OUT OF INSTAGRAM", {controller: "sessions", action: "disconnect"}, id: "disconnect", class: "login" %></div><!-- <br> -->
		<%= link_to "My Albums", albums_path, class: "albums" %><!-- <br> -->
	<% else %>
		<div class="signin"><%= link_to "Login with Instagram", controller: "sessions", action: "connect", class: "login" %></div><!-- <br> -->
	<% end %>
	<header class="title"> 
    <p class="header">Beam</p>
  </header>
</nav>
<!-- hashtag search bar -->

<div class="mainsearch">
	<%= form_tag searches_path, :method => "get" do %>
		<%=text_field_tag :search, params[:search], :placeholder => "Search for a hashtag" %>
		<div class="searchbtn"><%= submit_tag "Search", :name => nil, class: "searchbutton"%></div>
	<% end %>

	<!-- 
		need to handle bad requests for tags that are not viewable and revoked access separately
	INSTAGRAM LOGOUT - when user logouts of instagram from instagram.com our app needs to logout in the app and set session[:access_token] to nil
	-->



<!-- Display images from search result -->
<% if @instagram_results != [] && @instagram_results != nil %>
	<select id="select_album">
		<option>Choose an album</option>
		<%= current_user.albums.each do |album| %>
			<option value="<%= album.id %>"><%= album.title %></option>
		<% end %>
	</select>
	<button id="fullscreen">Fullscreen</button>
	<button id="fullscreen_caption">Fullscreen w/captions</button>
	<div class="scrollbar">
	    <div class="handle"></div>
	</div>

	<div class="frame">
	    <ul class="slidee">
			<% @instagram_results.each do |result| %>
				<li>
					<%#= result.to_json %>
					<div class="image_info">
						<div class="image_header">
							<%= image_tag result.user.profile_picture, id: "avatar" %>
							<cite><a href="http://instagram.com/<%= result.user.username %>" target="_blank"><%= result.user.username %></a></cite>
							<%= distance_of_time_in_words(Time.now, Time.at(result.created_time.to_i),include_seconds: true) %> ago<br>
							<% if result.videos %>
								<a href="<%= result.videos.standard_resolution.url %>" target="_blank">Play Video</a>
							<% end %>
							<div class="add_to_album" data-image-ids="<%= result.id %>">Add</div>
						</div>
						<div class="image_footer">
							<%= truncate(result.caption.text, length: 100) if result.caption %>
						</div>
					</div>
					<%= image_tag result.images.standard_resolution.url %>
				</li>
			<% end %>
		</ul>
	</div>

<% end %>

<br><br>
<div id="ctrbtns">
		<button class="fs" id="fullscreen">Fullscreen</button>
		<button class="fs" id="fullscreen_caption">Fullscreen w/captions</button>
	</div><br /><br />
<!-- hidden Instagram logout container -->
<div id="iframe_disconnect"></div>
</div>
<!-- store next_url for jQuery -->
<script>
	var next_url = "<%= @next_url %>";
  
  // make search bar slideUp
  $( document ).ready(function() {
    $(".searchbtn").submit(function(event) {
      event.preventDefault();
      console.log("function called")
      $(".title").slideUp(400, showAppear);
    });

    // allows slideshow to appear
    function showAppear() {
      console.log("working it!")
      $(".fakeslider, .fs").fadeIn(300, null);
      // $(".nav").fadeIn(300, null);
    }
  });
  $( document ).ready(function() {
  $(".fakeslider").fullScreen(true);
  $(".fakeslider").fullScreen(false);
  });
</script>






