
<%#= (link_to "My Albums", albums_path) if session[:access_token] %>

	<!-- 
		need to handle bad requests for tags that are not viewable and revoked access separately
	INSTAGRAM LOGOUT - when user logouts of instagram from instagram.com our app needs to logout in the app and set session[:access_token] to nil
	-->

<!-- Display images from search result -->
<% if @instagram_results != [] && @instagram_results != nil %>

	<!-- scroll bar -->

	<div class="scrollbar">
	    <div class="handle"></div>
	</div>


	<!-- slideshow -->

	<div class="frame">
	    <ul class="slidee">
			<% @instagram_results.each do |result| %>
				<li>
					<!-- instagram image information -->
					<div class="image_info">
						<!-- username, user image, time posted, add to album button -->
						<div class="image_header">
							<%= image_tag result.user.profile_picture, id: "avatar" %>
							<cite><a href="http://instagram.com/<%= result.user.username %>" target="_blank"><%= result.user.username %></a></cite>
							<%= distance_of_time_in_words(Time.now, Time.at(result.created_time.to_i),include_seconds: true) %> ago<br>
							<% if result.videos %>
								<a href="<%= result.videos.standard_resolution.url %>" target="_blank">Play Video</a>
							<% end %>
							<% if session[:access_token] %>
								<div class="add_to_album" data-image-id="<%= result.id %>" data-image-url="<%= result.images.standard_resolution.url %>" data-image-caption="<%= result.caption.text if result.caption%>" data-username="<%= result.user.username %>" data-user-avatar="<%= result.user.profile_picture %>" data-video-url="<%= result.videos.standard_resolution.url if result.videos %>" data-time-ago="<%= result.created_time %>"></div>
							<% end %>
						</div>
						<!-- caption -->
						<div class="image_footer">
							<div class="ig_caption"><%= truncate(result.caption.text, length: 100) if result.caption %></div>
							<div>
								<a class="fs" id="fullscreen"><span class="glyphicon glyphicon-fullscreen"></span></a>
							</div>
						</div>
					</div>
					<!-- instagram image -->
					<%= image_tag result.images.standard_resolution.url %>
				</li>
			<% end %>
		</ul>
	</div>


	
<% else %>
<!-- <h1 class="title"> 
    <p class="header">Beam</p>
</h1> -->
	<div class="logo-container"></div>
<% end %>

<br><br>



<!-- store next_url for jQuery -->
<script>
	var next_url = "<%= @next_url %>";
      var logged_in = "<%= current_user ? true : false %>";
</script>






