<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <%#= javascript_include_tag "jquery" %>
  </head>

  <body>
  	<h1>Beam</h1>

    <%= form_tag searches_path, :method => "get" do %>
      <%=text_field_tag :search, params[:search], :placeholder => "Search a hashtag or @username"%>
      <%= submit_tag "Search", :name => nil %>
    <% end %>

    <%= flash[:error] %>
    <%= flash[:notice] %>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>