<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>BEAM</title>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <!--  NAV BAR -->
    <!-- <header> -->
    <nav class="top-bar" data-topbar>
      <section class="top-bar-section"> 
       <ul>
          

          <li id="select_album"  class="albumdd">     
            <% if session[:access_token] %>
              <select>
                <option>Choose an album</option>
                <%= current_user.albums.reverse.each do |album| %>

                  <option value="<%= album.id %>"><%= album.title %></option>
                <% end %>
              </select>
            <% end %>
          </li>
        </ul>


        

        <!-- Right Nav Section -->
        <ul class="right">
          <% if session[:access_token] %>
            <li class="has-dropdown">
                <span><%= image_tag current_user.avatar, id: "avatar" %>
                <%= current_user.username %></span>
                <ul class="dropdown">
                  <li><%= link_to "Albums", albums_path %></li>
                  <li><%= link_to "Logout", {controller: "sessions", action: "disconnect"}, id: "disconnect"%></li>
                </ul>
            </li>
          <% else %>
            <li><%= link_to "Login with Instagram", controller: "sessions", action: "connect"%></li>
          <% end %>
        </ul>
      </section>
    </nav>
<!-- </header> -->

    <h1 class="title"> 
        <a href="http://localhost:3000"><p class="header">Beam</p></a>
    </h1>

    <div class="mainsearch">
      <div>#</div>
      <%= form_tag searches_path, :method => "get" do %>
      <div class="searchbar"><%=text_field_tag :search, params[:search], :placeholder => "Search for a hashtag or @username" %></div>
      <div class="searchbtn">
        <%= submit_tag "Search", :name => nil, class: "searchbutton" %>
      </div>
      <% end %>
    </div>

    <%= flash[:error] %>
    <%= flash[:notice] %>

    <%= yield %>
    <%= javascript_include_tag "application" %>

  </body>
</html>